<div class="project-modal js-modal" id="project-modal">
    <div class="project-modal__inner">
        <div class="project-modal__row">
            <div class="project-modal__left-col">
                <div class="project-modal__shadow-wrapper">


                    <div class="project-modal__image-wrapper">
                        <img src="img/project-modal.webp" alt="" class="project-modal__image">
                    </div>
                </div>
                <a href="#" class="project-modal__order-link">
                    Скачать пример<br>
                    эскизного проекта
                </a>
            </div>
            <div class="project-modal__right-col">
                <div class="project-modal__content">
                    <h3 class="project-modal__heading">
                        Отправь дизайн-проект,
                        получи эскизный проект.
                        БЕСПЛАТНО!
                    </h3>
                    <div class="project-modal__text">
                        <p>
                            Просто нажмите на иконку удобного мессенджера
                            и вы перейдете в диалог с нашим консультантом.
                        </p>
                    </div>
                    <div class="project-modal__btns">
                        <a href="#" class="project-modal__btn project-modal__btn--telegram">
                            <img src="img/telegram.svg" alt="" class="project-modal__btn-icon">
                            Telegram
                        </a>
                        <a href="#" class="project-modal__btn project-modal__btn--whatsapp">
                            <img src="img/whatsapp.svg" alt="" class="project-modal__btn-icon ">
                            Whats App
                        </a>
                        <a href="mailto:msk@mimismart.ru" class="project-modal__btn project-modal__btn--mail">
                            <img src="img/mail.svg" alt="" class="project-modal__btn-icon">
                            msk@mimismart.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="project-modal__close js-close-modal">
            <svg width="24" height="24" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close" />
            </svg>
        </button>
    </div>
</div>