{{#extend "layout"}}
{{#content "main"}}


<section class="intro" id="hand-wrapper">
    <div class="intro__bg">
        <picture>
            <source srcset="img/intro-mobile.jpg" media="(max-width: 640px)">
            <img src="img/intro.jpg" alt="" class="intro__bg-image">
        </picture>
    </div>
    <div class="container container_static">
        <div class="intro__hand-wrapper">

            <img src="img/hand.webp" alt="" class="intro__hand" id="hand">
        </div>

        <div class="intro__content">
            <div class="intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Автоматизация
                </a>
                <a href="#">
                    Комплексные решения
                </a>
                <a href="#">
                    Умный дом квартира
                </a>
            </div>
            <div class="intro__inner-content">
                <h1 class="intro__main-heading">
                    Умный дом<br>
                    в квартиру
                </h1>
                <div class="intro__text">
                    Изготовим и установим под ключ
                </div>
                <a href="#" class="intro__btn">
                    Рассчитать и узнать стоимость
                </a>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container container_static">
        <div class="features__content">
            <h2 class="features__heading">
                Отличительные особенности
            </h2>
            <div class="features__heading-text">
                Умный дом для квартиры имеет ряд отличительных особенностей
                от Умного дома в Коттедж:
            </div>
            <ul class="features__list">
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-content">
                            <h3 class="features__card-heading">
                                Невидимость
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    В квартирах меньше свободного пространства и поэтому его не нужно захламлять. Все
                                    датчики MiMiSmart либо встраиваются в выключатели, либо размером 1см и совершенно не
                                    видны в интерьере.
                                </p>
                            </div>
                        </div>
                        <div class="features__card-image-container">
                            <img data-src="img/features/1.webp" alt="" class="features__card-image lazyload">
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-content">
                            <h3 class="features__card-heading">
                                Энергосбережение
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    Например, важно организовать правильный энергосберегающий климат-контроль. Отопление
                                    не должно конкурировать с кондиционированием. Это позволит оптимизировать расходы
                                    на электроэнергию.
                                </p>
                            </div>
                        </div>
                        <div class="features__card-image-container">
                            <img data-src="img/features/2.webp" alt="" class="features__card-image lazyload">
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-content">
                            <h3 class="features__card-heading">
                                Контроль счетчиков
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    Рекомендуем устанавливать в каждую квартиру.
                                    Вы сможете снимать показания счетчиков простос
                                    о смартфона, не открывая ревизионные
                                    и монтажные шкафы.
                                </p>
                            </div>
                        </div>
                        <div class="features__card-image-container">
                            <img data-src="img/features/3.webp" alt="" class="features__card-image lazyload">
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-content">
                            <h3 class="features__card-heading">
                                Безопасность доступа
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    Проживая в многоквартирном доме следует обратить внимание на безопасности своих
                                    данных. Мы защитили систему передовым алгоритмом шифрования AES, который применяется
                                    в банковской сфере, поэтому взломать
                                    или повлиять на работоспособность Умного Дома MiMiSmart невозможно.
                                </p>
                            </div>
                        </div>
                        <div class="features__card-image-container">
                            <img data-src="img/features/4.webp" alt="" class="features__card-image lazyload">
                        </div>
                    </div>
                </li>
                <li class="features__list-item">
                    <div class="features__card">
                        <div class="features__card-content">
                            <h3 class="features__card-heading">
                                Оптимизация пространства
                            </h3>
                            <div class="features__card-text">
                                <p>
                                    Оборудование должно быть компактным. Все блоки управления MiMiSmart легко помещаются
                                    в одном монтажном шкафу.
                                </p>
                            </div>
                        </div>
                        <div class="features__card-image-container">
                            <img data-src="img/features/5.webp" alt="" class="features__card-image lazyload">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="functionality">
    <div class="container container_static">
        <h2 class="functionality__heading">
            Функционал умного дома
        </h2>
        <ul class="functionality__list">
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/1.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/1-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>

                    <h3 class="functionality__card-heading">
                        Освещение
                    </h3>
                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Автоматическое изменение освещения
                            в зависимости от изменений окружающей среды
                        </li>
                        <li class="functionality__card-list-item">
                            Управление группами света
                        </li>
                        <li class="functionality__card-list-item">
                            Датчики движения
                        </li>
                        <li class="functionality__card-list-item">
                            Диммируемый свет
                        </li>
                        <li class="functionality__card-list-item">
                            Биодинамическое освещение
                        </li>
                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/2.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/2-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Климат-контроль
                    </h3>
                    <div class="functionality__card-text">
                        Слаженная работа всех климатических систем/приборов:
                    </div>
                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Кондиционирование
                        </li>
                        <li class="functionality__card-list-item">
                            Теплый пол
                        </li>
                        <li class="functionality__card-list-item">
                            Радиаторы
                        </li>
                        <li class="functionality__card-list-item">
                            Увлажнение
                        </li>
                        <li class="functionality__card-list-item">
                            Приток и отток воздуха
                        </li>
                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/3.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/3-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Развлечения
                        (Мультирум)
                    </h3>

                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Объединение всех аудио- и видео- устройств в одну систему
                        </li>
                        <li class="functionality__card-list-item">
                            Персональный кинозал
                        </li>
                        <li class="functionality__card-list-item">
                            Голосовые сообщение в любую комнату
                        </li>
                        <li class="functionality__card-list-item">
                            Управление медиаконтентом
                        </li>

                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/4.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/4-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Шторы
                    </h3>

                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Управление шторами, жалюзи,
                            электрокарнизами
                        </li>
                        <li class="functionality__card-list-item">
                            Открытие/закрытие по времени суток
                        </li>


                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/5.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/5-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Безопасность
                    </h3>
                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Контроль и предотвращение протечек
                        </li>
                        <li class="functionality__card-list-item">
                            Пожарная безопасность
                        </li>
                        <li class="functionality__card-list-item">
                            Датчики газа
                        </li>
                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/6.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/6-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Управление
                    </h3>
                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Голосовое
                        </li>
                        <li class="functionality__card-list-item">
                            Настенные выключатели
                        </li>
                        <li class="functionality__card-list-item">
                            Смарт устройства (cмартфон, планшет, часы и др)
                        </li>
                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">
                        <img data-src="img/functionality/7.webp" alt="" class="functionality__card-image lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Охрана
                    </h3>
                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Позволяет удаленно управлять
                            замком входной двери, домофоном
                        </li>
                        <li class="functionality__card-list-item">
                            Блокирует любой доступ в квартиру
                            в случае несанкционированного
                            проникновения, отправляет уведомления об этом в службы охраны
                        </li>

                    </ul>
                </div>
            </li>
            <li class="functionality__list-item">
                <div class="functionality__card">
                    <div class="functionality__card-bg">


                        <img data-src="img/functionality/8.webp" alt="" class="functionality__card-image lazyload">
                        <img data-src="img/functionality/8-active.webp" alt=""
                            class="functionality__card-image functionality__card-image--active lazyload">
                    </div>
                    <h3 class="functionality__card-heading">
                        Сценарии
                    </h3>
                    <ul class="functionality__card-list">
                        <li class="functionality__card-list-item">
                            Это главная ценность Умного дома.
                        </li>
                        <li class="functionality__card-list-item">
                            Одно ваше действие = десятки
                            мгновенных действий системы.
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="pricing">
    <div class="container container_static">
        <div class="pricing__intro">
            <img src="img/pricing-blur.svg" alt="" class="pricing__blur">

            <h2 class="pricing__heading">
                Стоимость
            </h2>
            <div class="pricing__heading-text">
                Узнай стоимость Умного дома для квартиры
            </div>
            <div class="pricing__quiz">
                <picture>
                    <source srcset="img/quiz-mobile.webp" media="(max-width: 640px)">
                    <source srcset="img/quiz-tablet.webp" media="(max-width: 768px)">

                    <img src="img/quiz-desktop.webp" alt="MDN">
                </picture>
            </div>
        </div>
        <div class="pricing__slider js-pricing-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="pricing__slider-card">
                            <div class="pricing__slider-card-image-wrapper">
                                <img data-src="img/pricing-slider.webp" alt=""
                                    class="pricing__slider-card-image lazyload">
                            </div>
                            <div class="pricing__slider-card-chat">
                                <div class="pricing__slider-card-chat-my-message">
                                    <div class="pricing__slider-card-chat-my-message-bg">

                                        <picture>
                                            <source srcset="img/my-message-bg-mobile.svg" media="(max-width: 640px)">
                                            <source srcset="img/my-message-bg-tablet.svg" media="(max-width: 768px)">
                                            <img src="img/my-message-bg-desktop.svg" alt="MDN"
                                                class="pricing__slider-card-chat-my-message-bg-image">
                                        </picture>

                                    </div>
                                    <div class="pricing__slider-card-chat-my-message-content">
                                        – Алиса, Я ушел!
                                    </div>
                                </div>
                                <div class="pricing__slider-card-chat-answer">
                                    Cистема выключит весь свет, климат-контроль перейдет в энерго-сберегающий режим, а
                                    через минуту запустится режим охраны.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pricing__slider-card">
                            <div class="pricing__slider-card-image-wrapper">
                                <img data-src="img/pricing-slider.webp" alt=""
                                    class="pricing__slider-card-image lazyload">
                            </div>
                            <div class="pricing__slider-card-chat">

                                <div class="pricing__slider-card-chat-answer">
                                    Cистема выключит весь свет, климат-контроль перейдет в энерго-сберегающий режим, а
                                    через минуту запустится режим охраны.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing__slider-controls">
                <div class="pricing__slider-controls-text">
                    Узнайте больше о возможностях Умного дома
                </div>
                <div class="pricing__slider-controls-btns">
                    <button class="pricing__slider-controls-btn pricing__slider-controls-btn--prev">
                        <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                    </button>
                    <div class="pricing__slider-pagination">
                        6 / 16
                    </div>
                    <button class="pricing__slider-controls-btn pricing__slider-controls-btn--next">
                        <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="slider-pagination slider-pagination--light pricing__bullet-pagination">

            </div>
        </div>
        <div class="pricing__numbers">

            <div class="pricing__numbers-images-wrapper">
                <img src="img/pricing-bg.webp" alt="" class="pricing__numbers-blur">

                <div class="pricing__numbers-images">
                    <div class="pricing__numbers-image-wrapper">
                        <img src="img/numbers/1.webp" alt="" class="pricing__numbers-image rellax" data-rellax-speed="4"
                            data-rellax-percentage="0.5" data-rellax-tablet-speed="1" data-rellax-mobile-speed="-2">
                    </div>
                    <div class="pricing__numbers-image-wrapper">
                        <img src="img/numbers/2.webp" alt="" class="pricing__numbers-image rellax" data-rellax-speed="3"
                            data-rellax-percentage="0.5" data-rellax-tablet-speed="1" data-rellax-mobile-speed="-2">
                    </div>
                    <div class="pricing__numbers-image-wrapper">


                        <picture>
                            <source srcset="img/numbers/3-mobile.webp" media="(max-width: 768px)">
                            <img src="img/numbers/3.webp" alt="" class="pricing__numbers-image rellax"
                                data-rellax-speed="4" data-rellax-percentage="0.5" data-rellax-tablet-speed="1"
                                data-rellax-mobile-speed="-2">
                        </picture>
                    </div>
                    <div class="pricing__numbers-image-wrapper">
                        <picture>
                            <source srcset="img/numbers/5-mobile.webp" media="(max-width: 768px)">
                            <img src="img/numbers/5.webp" alt="" class="pricing__numbers-image rellax"
                                data-rellax-speed="4" data-rellax-percentage="0.5" data-rellax-tablet-speed="1"
                                data-rellax-mobile-speed="-2">
                        </picture>
                    </div>
                    <div class="pricing__numbers-image-wrapper">
                        <img src="img/numbers/4.webp" alt="" class="pricing__numbers-image rellax" data-rellax-speed="3"
                            data-rellax-percentage="0.5" data-rellax-tablet-speed="1" data-rellax-mobile-speed="-2">
                    </div>





                </div>
            </div>
            <div class="pricing__numbers-content">


                <h2 class="pricing__numbers-heading">
                    MimiSmart в цифрах
                </h2>
                <div class="pricing__numbers-heading-text">
                    За 17 лет мы стали самой покупаемой системой Умный Дом в России
                </div>
                <ul class="pricing__numbers-list">
                    <li class="pricing__numbers-list-item">
                        <div class="pricing__numbers-card">
                            <div class="pricing__numbers-card-amount">
                                5000+
                            </div>
                            <div class="pricing__numbers-card-text">
                                Помещений автоматизировано
                                на системе MiMiSmart на начало
                                2022 года.
                            </div>
                        </div>
                    </li>
                    <li class="pricing__numbers-list-item">
                        <div class="pricing__numbers-card">
                            <div class="pricing__numbers-card-amount">
                                250+
                            </div>
                            <div class="pricing__numbers-card-text">
                                Специалистов работают над развитием продукта MiMiSmart
                                по всему миру.
                            </div>
                        </div>
                    </li>
                    <li class="pricing__numbers-list-item">
                        <div class="pricing__numbers-card">
                            <div class="pricing__numbers-card-amount">
                                400+
                            </div>
                            <div class="pricing__numbers-card-text">
                                Дилеров и дизайнеров рекомендуют и продают систему MiMiSmart.
                            </div>
                        </div>
                    </li>
                    <li class="pricing__numbers-list-item">
                        <div class="pricing__numbers-card">
                            <div class="pricing__numbers-card-amount">
                                5 лет
                            </div>
                            <div class="pricing__numbers-card-text">
                                Самая большая гарантия на рынке.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="history">
    <div class="container container_static">
        <h2 class="history__heading">
            Наша история
        </h2>
        <div class="history__slider js-history-slider">

            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="history__slide-remark">
                            СТРОИМ ПЛАНЫ
                        </div>
                        <div class="history__slider-card">

                            <div class="history__slider-card-year">
                                2020
                            </div>
                            <div class="history__slider-card-text">
                                Запуск бюджетного ограниченного решения - Micro. Финальная стадия отладки нового
                                приложения для iOS и Android.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-year">
                                2017
                            </div>
                            <div class="history__slider-card-text">
                                Реализовано управление с помощью Siri
                                и HomeKit, Amazon Alexa. Новый датчик движения 3 в 1 - движение, освещенность,
                                ИК-передатчик.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-year">
                                2016
                            </div>
                            <div class="history__slider-card-text">
                                Мы запустили производство новой линейки, пятой версии современного оборудования для
                                Умного дома и реализовали новые функции.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-year">
                                2013
                            </div>
                            <div class="history__slider-card-text">
                                Мы обновили программное обеспечение для Умного дома. Адаптировали приложение как для
                                iOS, так и для Android. Поддержка Airplay и DLNA.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-pagination history__slider-pagination">

            </div>
        </div>
    </div>
</section>

<section class="showroom-block">
    <div class="container container_static">
        <h2 class="showroom-block__heading">
            Шоурум
        </h2>
        <div class="showroom-block__row">
            <div class="showroom-block__col">
                <h2 class="showroom-block__heading-inner">
                    Шоурум
                </h2>
                <ul class="showroom-block__list">
                    <li class="showroom-block__list-item">
                        <div class="showroom-block__card">
                            <h4 class="showroom-block__card-title">
                                Узнайте про функционал
                            </h4>
                            <div class="showroom-block__card-text">
                                Какие функции вам действительно необходимы,
                                а на чем можно сэкономить.
                            </div>
                        </div>
                    </li>
                    <li class="showroom-block__list-item">
                        <div class="showroom-block__card">
                            <h4 class="showroom-block__card-title">
                                Познакомитесь с системой
                            </h4>
                            <div class="showroom-block__card-text">
                                Вы сможете самостоятельно управлять Умным домом
                                с помощью настенных выключателей, голосовых команд
                                и оцените удобство нашего приложения.
                            </div>
                        </div>
                    </li>
                    <li class="showroom-block__list-item">
                        <div class="showroom-block__card">
                            <h4 class="showroom-block__card-title">
                                Выберете выключатели
                            </h4>
                            <div class="showroom-block__card-text">
                                Мы расскажем об особенностях выключателей и поможем определиться с выбором.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="showroom-block__col">
                <div class="showroom-block__slider js-showroom-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="showroom-block__slider-card">
                                    <picture>
                                        <source srcset="img/showroom-vertical.webp" media="(max-width: 768px)">
                                        <source srcset="img/showroom.webp" media="(max-width: 640px)">
                                        <img src="img/showroom.webp" alt="" class="showroom-block__slider-card-image">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="showroom-block__slider-card">
                                    <picture>
                                        <source srcset="img/showroom-vertical.webp" media="(max-width: 768px)">
                                        <source srcset="img/showroom.webp" media="(max-width: 640px)">
                                        <img src="img/showroom.webp" alt="" class="showroom-block__slider-card-image">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="showroom-block__slider-card">
                                    <picture>
                                        <source srcset="img/showroom-vertical.webp" media="(max-width: 768px)">
                                        <source srcset="img/showroom.webp" media="(max-width: 640px)">
                                        <img src="img/showroom.webp" alt="" class="showroom-block__slider-card-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-pagination showroom-block__slider-pagination">

                    </div>
                </div>
            </div>
        </div>
        <div class="showroom-block__row showroom-block__row--flex-start">
            <div class="showroom-block__col">
                <form action="/" method="POST" class="showroom-block__form" data-need-validation="">
                    <h3 class="showroom-block__form-heading">
                        Когда вы хотите<br>
                        посетить шоу-рум?
                    </h3>
                    <div class="showroom-block__form-fields">
                        <div class="showroom-block__form-field" id="datepicker-errors">
                            <div class="showroom-block__form-calendar-wrapper" id="datepicker-container">


                                <input type="readonly"
                                    class="showroom-block__form-input showroom-block__form-input--calendar js-datepicker"
                                    placeholder="Календарь" name="date" data-picker-container="#datepicker-container"
                                    data-parsley-validate-if-empty="" data-parsley-required-if-not-checked="#no-date"
                                    data-parsley-errors-container="#datepicker-errors">
                            </div>
                        </div>
                        <div class="showroom-block__form-field">
                            <label class="showroom-block__checkbox">
                                <input type="checkbox" class="showroom-block__checkbox-input" name="no-date" value="Y"
                                    id="no-date">
                                <span class="showroom-block__checkbox-mark">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark" />
                                    </svg>
                                </span>
                                <span class="showroom-block__checkbox-text">
                                    Пока не знаю
                                </span>
                            </label>
                        </div>
                        <div class="showroom-block__form-field showroom-block__form-field--fullwidth">
                            <input type="text" name="name" class="showroom-block__form-input" placeholder="Ваше имя"
                                required="">
                        </div>
                        <div class="showroom-block__form-field showroom-block__form-field--fullwidth">
                            <input type="tel" name="phone" class="showroom-block__form-input js-phone-input" required=""
                                data-parsley-phone="" placeholder="Номер телефона">
                        </div>
                        <div class="showroom-block__form-field showroom-block__form-field--fullwidth">
                            <textarea name="comment" class="showroom-block__form-input"
                                placeholder="Комментарий"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="showroom-block__form-submit">
                        Записаться
                    </button>
                </form>
            </div>
            <div class="showroom-block__col">
                <div class="showroom-block__map ">
                    <div class="showroom-block__map-wrapper js-map" data-coords="55.698011, 37.625127"
                        data-center="55.698011, 37.625127" data-zoom="14">
                        <div class="showroom-block__map-element js-map-element">

                        </div>
                    </div>
                    <div class="showroom-block__contacts">
                        <div class="showroom-block__contacts-group">
                            <h4 class="showroom-block__contacts-group-title">
                                Контакты
                            </h4>
                            <div class="showroom-block__contacts-group-links">
                                <a href="mailto:88005052053" class="showroom-block__contacts-group-link">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-phone">
                                        <use xlink:href="#phone" />
                                    </svg>
                                    8 800 505-20-53
                                </a>
                                <a href="mailto:msk@mimismart.ru" class="showroom-block__contacts-group-link">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-mail">
                                        <use xlink:href="#mail" />
                                    </svg>
                                    msk@mimismart.ru
                                </a>
                            </div>
                        </div>
                        <div class="showroom-block__contacts-group">
                            <h4 class="showroom-block__contacts-group-title">
                                Как к нам добраться?
                            </h4>
                            <div class="showroom-block__contacts-group-links">
                                <a href="#" class="showroom-block__contacts-group-link">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location" />
                                    </svg>
                                    г. Москва,<br>
                                    Новоданиловская наб., 6к1
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="setup">
    <div class="container container_static">
        <h2 class="setup__heading">
            Как установить Умный Дом в квартиру?
        </h2>
        <ol class="setup__list">
            <li class="setup__list-item">
                <div class="setup__card">
                    <div class="setup__card-bg">

                    </div>
                    <h3 class="setup__card-title">
                        Консультация
                    </h3>
                    <div class="setup__card-content">
                        <div class="setup__card-text">
                            <p>
                                Вы поймете, какие функции вам действительно необходимы, а на чем можно сэкономить.
                            </p>
                        </div>
                        <div class="setup__card-btns">


                            <a href="#" class="setup__card-btn setup__card-btn--filled">
                                Оставить заявку
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="setup__list-item">
                <div class="setup__card">
                    <div class="setup__card-bg">

                    </div>
                    <h3 class="setup__card-title">
                        Проектирование
                    </h3>
                    <div class="setup__card-content">
                        <div class="setup__card-text">
                            <p>
                                Разрабатывается инженерный проект, к которому смогут обращаться не только наши
                                специалисты,
                                но и другие участники ремонта.
                            </p>
                        </div>
                        <div class="setup__card-btns">


                            <a href="#" class="setup__card-btn setup__card-btn--filled">
                                Получи эскизный проект <span class="setup__card-btn-bold-text">

                                    <span class="setup__card-btn-divider">|</span> БЕСПЛАТНО </span>
                            </a>
                            <a href="#" class="setup__card-btn">
                                <svg width="24" height="24" aria-hidden="true" class="icon-doc">
                                    <use xlink:href="#doc" />
                                </svg>
                                Скачать пример проекта
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="setup__list-item">
                <div class="setup__card">
                    <div class="setup__card-bg">

                    </div>
                    <h3 class="setup__card-title">
                        Производство
                    </h3>
                    <div class="setup__card-content">
                        <div class="setup__card-text">
                            <p>
                                Мы самостоятельно разрабатываем и производим все оборудование для Умного дома.
                            </p>
                        </div>

                    </div>
                </div>
            </li>
            <li class="setup__list-item">
                <div class="setup__card">
                    <div class="setup__card-bg">

                    </div>
                    <h3 class="setup__card-title">
                        Монтаж
                    </h3>
                    <div class="setup__card-content">
                        <div class="setup__card-text">
                            <p>
                                Наши сотрудники проводят установку и детальное тестирование всей системы.
                            </p>
                        </div>

                    </div>
                </div>
            </li>

            <li class="setup__list-item">
                <div class="setup__card">
                    <div class="setup__card-bg">

                    </div>
                    <h3 class="setup__card-title">
                        Программирование
                    </h3>
                    <div class="setup__card-content">
                        <div class="setup__card-text">
                            <p>
                                Для каждого проекта создаются индивидуальные сценарии.
                            </p>
                        </div>
                        <div class="setup__card-btns">
                            <a href="#" class="setup__card-btn setup__card-btn--filled">
                                <svg width="24" height="24" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link" />
                                </svg>
                                40 основных сценариев
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="setup__list-item">
                <div class="setup__card">
                    <div class="setup__card-bg">

                    </div>
                    <h3 class="setup__card-title">
                        Презентация
                    </h3>
                    <div class="setup__card-content">
                        <div class="setup__card-text">
                            <p>
                                Ваш персональный менеджер презентует готовую систему
                                и подробно расскажет о всем функционале Умного дома.
                            </p>
                        </div>
                        <div class="setup__card-btns">
                            <a href="#" class="setup__card-btn setup__card-btn--filled setup__card-btn--with-play">
                                <svg width="24" height="24" aria-hidden="true" class="icon-play">
                                    <use xlink:href="#play" />
                                </svg>
                                Смотреть презентацию
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
        <div class="setup__partners">
            <h3 class="setup__partners-heading">
                Партнеры&nbsp;<span class="setup__partners-heading-divider">&nbsp;&nbsp;|</span>
            </h3>
            <div class="setup__partners-slider js-partners-slider">

                <div class="setup__partners-card">
                    <img src="img/partners/1.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/2.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/3.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/4.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/5.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/6.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/7.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/8.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/9.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/10.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/11.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/12.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/13.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/14.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/15.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/16.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/17.svg" alt="" class="setup__partners-card-image">
                </div>
                <div class="setup__partners-card">
                    <img src="img/partners/18.svg" alt="" class="setup__partners-card-image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects">
    <div class="container container_static">
        <h2 class="projects__heading">
            Реализованные<br>
            проекты
        </h2>
        <div class="projects__slider js-projects-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="projects__slider-card">
                            <div class="projects__slider-card-bg">
                                <img src="img/projects/1.jpg" alt="">
                            </div>
                            <div class="projects__slider-card-content">
                                <div class="projects__slider-card-top">
                                    <h4 class="projects__slider-card-title">
                                        Квартира, ЖК Riverdale apartments
                                    </h4>
                                </div>
                                <div class="projects__slider-card-bottom">
                                    <div class="projects__slider-card-text">
                                        Небольшая квартира с панорамным видом на набережную. Максимум комфорта с
                                        минимумом вложений.
                                    </div>
                                    <div class="projects__slider-card-arrow">
                                        <svg width="24" height="24" aria-hidden="true"
                                            class="icon-projects-arrow-right">
                                            <use xlink:href="#projects-arrow-right" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="projects__slider-card">
                            <div class="projects__slider-card-bg">
                                <img src="img/projects/2.jpg" alt="">
                            </div>
                            <div class="projects__slider-card-content">
                                <div class="projects__slider-card-top">
                                    <h4 class="projects__slider-card-title">
                                        Просторная квартира
                                        для семьи с 4-мя детьми
                                    </h4>
                                </div>
                                <div class="projects__slider-card-bottom">
                                    <div class="projects__slider-card-text">
                                        Современный стиль и технологии создают уют для большой семьи.
                                    </div>
                                    <div class="projects__slider-card-arrow">
                                        <svg width="24" height="24" aria-hidden="true"
                                            class="icon-projects-arrow-right">
                                            <use xlink:href="#projects-arrow-right" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="projects__slider-card">
                            <div class="projects__slider-card-bg">
                                <img src="img/projects/3.jpg" alt="">
                            </div>
                            <div class="projects__slider-card-content">
                                <div class="projects__slider-card-top">
                                    <h4 class="projects__slider-card-title">
                                        Квартира, ЖК Riverdale apartments
                                    </h4>
                                </div>
                                <div class="projects__slider-card-bottom">
                                    <div class="projects__slider-card-text">
                                        Небольшая квартира с панорамным видом на набережную. Максимум комфорта с
                                        минимумом вложений.
                                    </div>
                                    <div class="projects__slider-card-arrow">
                                        <svg width="24" height="24" aria-hidden="true"
                                            class="icon-projects-arrow-right">
                                            <use xlink:href="#projects-arrow-right" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects__slider-controls">
                <div class="slider-pagination projects__slider-pagination">

                </div>
                <a href="#" class="projects__slider-show-all">
                    Смотреть все проекты
                </a>
            </div>
        </div>
    </div>
</section>

<section class="article-block">
    <div class="container container_static">
        <div class="article-block__items">


            <div class="article-block__item">

                <div class="article-block__item-row">
                    <div class="article-block__item-content">
                        <p>
                            Компания MimiSmart с 2004 года занимается разработкой и внедрением комплексных решений в
                            сфере автоматизации многих бытовых процессов. Предлагаемая нами система Умный Дом для
                            квартиры позволяет освободить хозяев от множества повседневных задач, дает возможность
                            полностью сосредоточиться на работе или проводить больше времени с семьей.
                        </p>
                    </div>
                    <div class="article-block__item-content">
                        <img src="img/intro.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="article-block__item">
                <h3 class="article-block__item-heading">
                    Функционал
                </h3>
                <div class="article-block__item-row">
                    <div class="article-block__item-content">
                        <p>
                            В компании – индивидуальный подход к каждому клиенту. На практике это означает, что
                            разрабатываемый нами продукт будет идеально подходить именно для вашей квартиры и
                            установленного
                            в ней оборудования. В целом он включает:
                        </p>
                        <img src="img/intro.jpg" alt="">
                        <p>
                            Модули связаны в единый комплекс, что позволяет программировать отдельные сценарии поведения
                            для
                            тех или иных условий окружающей среды. Управление ими может осуществляться как через любые
                            планшеты, так и с помощью ПК или мобильных устройств на базе Android, IOS, Windows.
                        </p>
                    </div>
                    <div class="article-block__item-content">
                        <div class="article-block__item-features">
                            <div class="article-block__item-feature">
                                <b>Управление энергоснабжением</b> – позволяет изменять параметры освещения в
                                соответствии с
                                изменениями окружающей среды и текущими потребностями;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Климат-контроль</b> – обеспечивает требуемый режим температуры и влажности в каждом
                                отдельном
                                помещении. Также позволяет управлять отдельными элементами – радиаторами, "теплым"
                                полом,
                                кондиционерами;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Мультимедиа</b> – дает возможность устанавливать специальные сценарии домашнего
                                кинотеатра и
                                музыкального сопровождения высокого качества, система мультирум, позволит слушать
                                любимую
                                музыка
                                в ваших комнатах;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Охраны</b> – позволяет удаленно управлять замком входной двери, блокирует любой
                                доступ в
                                квартиру в случае несанкционированного проникновения, отправляет уведомления об этом в
                                службы
                                охраны;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Безопасности</b> – следят за состоянием систем газо- и водоснабжения, перекрывают их
                                при
                                возникновении нештатных ситуаций, уведомляют об этом соответствующие инстанции.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="article-block__item">
                <h3 class="article-block__item-heading">
                    Преимущества системы Умный Дом<br>
                    для квартиры от MimiSmart
                </h3>
                <div class="article-block__item-row">
                    <div class="article-block__item-content">
                        <p>
                            Оборудование и программное обеспечение от нашей компании отличается рядом важных
                            преимуществ, в числе которых:
                        </p>
                        <img src="img/intro.jpg" alt="">
                        <p>
                            Управление комплексом осуществляется через интуитивно понятные интерфейсы. С ним легко
                            справятся люди любого возраста и уровня технической подкованности.
                        </p>
                    </div>
                    <div class="article-block__item-content">
                        <div class="article-block__item-features">
                            <div class="article-block__item-feature">
                                <b>Компактность</b> – для блоков управления не требуется отдельного помещения. Все
                                оборудование легко помещается в одном монтажном шкафу, не требует вентиляции, а
                                устанавливаемые датчики по размеру не больше двухрублевой монеты;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Гибкость</b> – оборудование стандартизировано, клиенты могут самостоятельно выбирать
                                отдельные элементы, подходящие по стоимости или функционалу;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Масштабируемость</b> – система полностью децентрализована и состоит из отдельных
                                узлов, постоянно обменивающихся информацией. Это дает возможность легко расширять
                                функционал, добавляя новые устройства. Они автоматически распознаются и включаются в
                                общий комплекс;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Гибкое управление доступом</b> – можно ограничить возможности отдельных пользователей
                                просматривать ту или иную информацию, управлять отдельными элементами;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Безопасность</b> – система защищена передовым алгоритмом шифрования AES, который
                                применяется в банковской сфере, поэтому взломать Умный Дом невозможно;
                            </div>
                            <div class="article-block__item-feature">
                                <b>Доступность</b> – как непосредственные разработчики системы мы устанавливаем на свою
                                продукцию демократичные цены.
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="article-block__item">
                <h3 class="article-block__item-heading">
                    Установка и поддержка
                </h3>
                <div class="article-block__item-row">
                    <div class="article-block__item-content">
                        <p>
                            В квартире или коттедже не появится никаких лишних элементов – проводка монтируется в
                            толще стен, используются стандартные выключатели, датчики маскируются в интерьере. У нас
                            есть круглосуточная поддержка, специалисты которой готовы проконсультировать по любым
                            вопросам, связанным с работой оборудования.
                        </p>

                        <p>
                            Если вам требуется надежная, стабильная и безопасная система Умный Дом для квартиры или
                            коттеджа по доступной цене, обращайтесь в компанию MimiSmart. Мы разработаем
                            индивидуальный проект с учетом всех ваших пожеланий, который сделает быт максимально
                            комфортным и удобным!
                        </p>
                    </div>
                    <div class="article-block__item-content">
                        <p>
                            Мы предлагаем комплексные решения, которые включают:
                        </p>
                        <ul>
                            <li>
                                разработку проекта;
                            </li>
                            <li>
                                монтаж кабельных трасс;
                            </li>
                            <li>
                                установку оборудования;
                            </li>
                            <li>
                                программирование модулей;
                            </li>
                            <li>
                                пусконаладочные работы и тонкую настройку.
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
</section>

{{/content}}
{{/extend}}