.slider-pagination {
    display: flex;
    align-items: center;
    gap: calc(var(--root-font-size) * 1.6);
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        gap: 12px;
    }

    .swiper-pagination-bullet {
        flex-shrink: 0;
        width: calc(var(--root-font-size) * .6);
        height: calc(var(--root-font-size) * .6);
        transition: width .2s, background-color .2s;
        background-color: rgba(#1D1E1E, .3);
        opacity: 1;
        border-radius: calc(var(--root-font-size) * .3);

        @include breakpoint(mobile) {
            width: 4px;
            height: 4px;
        }
        
    }

    &--light {
        .swiper-pagination-bullet {
            background-color: rgba(white, .3);
        }
        
    }

    .swiper-pagination-bullet-active {
        width: calc(var(--root-font-size) * 3.2);
        background: #22BDFE;

        @include breakpoint(mobile) {
            width: 24px;
        }
    }
}